body {
    font-size: 24px;
}
.green {
    color: #008000;
}
.red {
    color: #ff0000;
}
.blue {
    color: #0000ff;
}
li.green {
    color: #008000;
}
li.red {
    color: #ff0000;
}
li.blue {
    color: #0000ff;
}
ul ol li.red {
    color: #ff0000;
}
ul ol li.green {
    color: #008000;
}
ul ol li.blue {
    color: #0000ff;
}
p.italic {
    font-style: italic;
}
p.bold {
    font-weight: bold;
}